## gAgent Platform — configuration réseau

## Agent Platform (AMS + DF)
plt_address = "127.0.0.1";
plt_port    = "40011";

## Agent Manager
mng_address = "127.0.0.1";
mng_port    = "40012";

## Agent Monitor (logs UDP)
mon_address = "127.0.0.1";
mon_port    = "40013";
